parameters:
  level: max
  paths:
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  excludes_analyse:
    - vendor
  ergebnis:
  		classesAllowedToBeExtended:
  			- Exception
  			- App\Models\Ship\Ship
  			- App\Helpers\Renderer\Renderer
